<html>

<head>
	<title>Tomateninsel</title>
	
	<!-- Javascript -->
	<script src="jquery.min.js"></script>
	<script src="popup.js"></script>
	
	<!-- Styles -->
	<link href="popup.css" rel="stylesheet" />
</head>

<body>
	<!-- Header -->
	<header>
		Tomateninsel
	</header>
	
	<!-- List -->
	<ul id="entries"></ul>
	
	<!-- Footer -->
	<footer>
		<span id="mg-link">
			Auf zur <a href="http://www.tomateninsel.de" target="_blank">Tomateninsel</a>
		</span>
		
		<span id="gh-link">
			Fork me at <a href="https://github.com/tscholze/ti-chrome-extension">Github.com</a>
		</span>
		
		<span id="version"></ul>
	</footer>
</body>

</html>